  <div class="row">
    <div class="col-xs-8">
      <%= form_for(@blog) do |f| %>
        <% if @blog.errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h4>
            <ul>
            <% @blog.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
           <%= f.label :title %><br/>
           <%= f.text_field :title, :class=>"form-control", :placeholder=>t('blogs.attributes.title') %>
        </div>
        <div class="form-group">
           <%= f.label :content %><br/>
           <%= f.text_area :content, :class=>"form-control" %>
        </div>
        <div class="form-group">
           <%= f.label :image %><br/>
           <%= f.file_field :photo %> <%= @blog.photo_file_name unless @blog.photo_file_name.nil? %>
        </div>
        <% if user_signed_in? && (current_user.is_admin? || current_user.is_editor?)  %>
          <div class="form-group">
             <%= f.label :status %><br/>
             <%= f.select :status, options_for_select(SelectionList::BlogStatus, @blog.status), {}, :class => "form-control" %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit :class=>"btn btn-primary"%>
          <%= link_to show_button(t('common.actions.back')), blogs_path %>
        </div>
      <% end %>
    </div>
  </div>
  
<script type="text/javascript">
	$('#blog_content').wysihtml5();
</script>
