<% if comment.errors.any? %>
  <div class="comment_error_explanation">
    <h4><%= pluralize(comment.errors.count, "error") %> prohibited this blog from being saved:</h4>
    <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for([comment.blog, comment], :remote => true) do |f| %>

  <div class="comment_form_field">
    <%= f.text_area :message, :rows => '7' %>
  </div>
  <div class="comment_form_actions">
    <%= f.submit "#{comment.id.blank? ? t('common.actions.create') : t('common.actions.update')}", :class=>"btn btn-primary" %>
    <%= f.submit t('common.actions.cancel'), :name => 'cancel', :class=>"btn btn-primary" %>
  </div>
<% end %>